li.round {
    border-radius: 30px 8px 30px 30px;
    background-color:  #006DF0;
    color:white;
  }
    li.second{
      border-radius: 8px 30px 30px 30px;
      background-color: #F5F5F5  ;
      color: gray ;
    }
    /*tr.unseen {border-style: groove;}*/
    tr.unseen {
      border-style: dotted;
      border-color: red;
    }